QListWidget {
    color: #FFFFFF;
    background-color: #33373B;
}

QListWidget::item {
    height: 50px;
    border: 0px;
}

QListWidget::item:selected {
    background-color: #2ABf9E;
}

QLabel {
    background-color: #FFFFFF;
}

QPushButton {
    background-color: #2ABf9E;
    padding: 20px;
    font-size: 18px;
    border: none;
}

QPushButton:hover {
    background-color: red;
}

QPushButton:pressed {
    background-color: blue;
}