.body {
    background-color: #fff;
}

.footer {
    background-color: #f0f0f0;
}

.footer PushButton,
.footer QPushButton {
    width: 60px;
    height: 26px;
    padding: 5px;
    margin-right: 5px;
    margin-left: 10px;
}
