.body {
    background-color: #fff;
}

.footer {
    background-color: #f0f0f0;
}

.footer PushButton,
.footer QPushButton {
    width: 60px;
    height: 26px;
    padding: 3px;
    margin-right: 5px;
    margin-left: 10px;
}

PushButton {
    min-height: 20px;
    border-radius: 3px;
    background-color: #fff;
}

PushButton:hover {
    background-color: #ddd;
}

PushButton:focus {
    border: 3px solid #008ac5;
}

.primary {
    color: #fff;
    border-radius: 3px;
    background-color: rgba(0, 174, 236, .8);
}

.primary:hover {
    background-color: rgba(0, 174, 236, .9);
}

.primary:pressed {
    background-color: rgba(0, 174, 236, 1);
}
