.clear {
    padding: 0;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: #999;
}

.clear:hover {
    background-color: #888;
}

.clear:pressed {
    background-color: #666;
}

Input {
    height: 30px;
    padding-left: 5px;
    padding-right: 30px;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

Input:focus {
    border-color: #00aeec;
}