.toolbar {
    padding: 5px;
    border-bottom: 1px solid #f0f0f0;
}

.bg {
    background-color: rgba(255, 255, 255, .6);
}

.username {
    color: #333;
}

QToolButton::menu-indicator {
    width: 0;
}

.nav {
    border-right: 1px solid #f0f0f0;
}

.nav QPushButton {
    width: 150px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #f0f0f0;
}

.nav QPushButton:hover {
    background-color: #f0f0f0;
}


