PushButton {
    border-radius: 3px;
    background-color: #fff;
}

PushButton:hover {
    background-color: #ddd;
}

PushButton:focus {
    border: 3px solid #9bc2fd;
}

PushButton.primary {
    color: #fff;
    border-radius: 3px;
    background-color: rgba(13, 110, 253, .6)
}

PushButton.primary:hover {
    background-color: rgba(13, 110, 253, .8)
}

PushButton.primary:pressed {
    background-color: rgba(13, 110, 253, 1)
}