.settings-dialog {
    background-color: #eee;
}

.show-file-dialog-btn {
    min-width: 120px;
    max-width: 120px;
    padding: 8px 0;
    border: none;
    border-radius: 3px;
    background-color: #fff;
}

.download-path {
    background-color: transparent;
    border: none;
}

.show-file-dialog-btn:hover {
    background-color: #f8f8f8;
}

.used-text {
    min-width: 80px;
}

.cookie-input {
    border: 1px solid #eee;
    color: #666;
}

.cookie-input:focus {
    border-color: rgba(13, 110, 253, .8);
}
