Toolbar#toolbar {
    padding: 5px;
    border-bottom: 1px solid #f0f0f0;
    background-color: rgba(255, 255, 255, .6);
}

.placeholder {
    background-color: transparent;
}

QToolButton {
    width: 24px;
    height: 24px;
}
QToolButton::menu-indicator {
    width: 0;
}
