.body {
    background-color: #ffffff;
}

.footer {
    background-color: #f0f0f0;
}

.footer PushButton,
.footer QPushButton {
    width: 60px;
    padding: 8px 5px;
    margin-right: 5px;
    margin-left: 10px;
    border: none;
}