QMenu {
    padding: 0;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    background-color: #fff;
}

QMenu::item {
    margin: 0;
    width: 150px;
    padding: 10px;
    color: #333;
}

QMenu::icon {
    position: absolute;
    left: 10px;
}

QMenu::item:selected {
    background-color: #f0f0f0;
}