.new-dialog .input {
    height: 30px;
    padding-left: 5px;
    padding-right: 30px;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

.new-dialog .input:focus {
    border-color: #86b7fe;
}
