PushButton {
    border-radius: 3px;
    background-color: #fff;
}

PushButton:hover {
    background-color: #ddd;
}

PushButton.primary {
    %s;
    color: #fff;
    border-radius: 3px;
}

PushButton.primary:hover {
    %s;
}

PushButton.primary:pressed {
    %s;
}